*.slo
*.lo
*.o
*.fo
*.os

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled source #
# ###################
*.com
*.class
*.dll
*.exe
*.o
*.obj
*.so
*.dep
*.deppo
*.pyc
./DRAMSim2/DRAMSim

# Output files #
*.out
*.h5
*.log
*.err

# Others #
misc/
heartbeat
out.cfg
.sconsign.dblite
build/
results/
scriptgen/
run_folder/

